<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction App</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Upload CSV for Prediction</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Choose CSV File</label>
                <input type="file" id="file" name="file" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>